src/workflows/[PROD]chat_id Parser ID2.json
{
  "name": "[PROD]chat_id Parser ID2",
  "nodes": [
    {
      "parameters": {
        "operation": "searchPublicChat",
        "username": "={{ $json.values()[1] }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        1328,
        144
      ],
      "id": "7fa0aec4-9b24-4771-b25e-515225db9fbd",
      "name": "Search public chat by username",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.random() * 5 + 5 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2064,
        192
      ],
      "id": "c3309b92-e39d-4c86-bf2d-d4e2d158a39d",
      "name": "Wait2",
      "webhookId": "51a2ae1d-84ff-4e14-8a34-62e2108ab58c",
      "notes": "Умеренное использование Telegram API во избежание санкций для аккаунта"
    },
    {
      "parameters": {
        "content": "## Воркфлоу для обработки ссылок чатов\nСохраняет информацию по каналу в гугл таблицы.\n\nНеобходимы credential из Google Cloud Console и настройка листов\n\nПредлагаемая структура листов:\n1. `PasteChannelLinks` - лист для вставки ссылок каналов. Столбцы: `URLs`.\n2. `GetChannelIDs` - лист для сохранения метаданных по каналам. Этот же лист может использоваться в воркфлоу для поиска по ключам. Столбцы (опционально): `Channel_URL`, `Channel_username`, `Channel_ID`, `Channel_Title`.\n\nНабор данных о чате настраивается в ноде `Данные о чате`.\nИнформация о чате обновляется или добавляется, если такой записи не было.\nТриггер стоит на изменения на листе `PasteChannelLinks`.\n\nДля тестового выполнения циклы использовать ноду `Execute me to test Workflow`\n\nПериодичность проверки обновления данных(новых ссылок для обработки) на листе `PasteChannelLinks` настраивается в ноде Гугл Таблиц `Paste channel links to parse` с помощью параметра `Poll time`.\n",
        "height": 432,
        "width": 768,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -480,
        -144
      ],
      "id": "f9f20cbc-98b6-4cde-aa93-828858c6c424",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) return [];\n\nconst result = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const id = row.ID ?? null;\n  const raw = String(row[\"tg каналы в которых искать\"] ?? \"\");\n\n  // Уникальные username только в рамках текущей строки\n  const usernames = [...new Set(\n    raw\n      .split(/\\r?\\n/)\n      .map(s => s.trim())\n      .filter(Boolean)\n      .map(s => s.replace(/^@+/, \"\")) // убрать ведущие @\n      .map(s => s.trim())\n      .filter(Boolean)\n  )];\n\n  for (const chat_username of usernames) {\n    result.push({\n      json: {\n        ID: id,\n        chat_username,\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "484f3b38-ef53-479f-a99c-a37dd668a43f",
      "name": "trim_url",
      "notes": "Обрезка URL для получения username"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1010465904,
          "mode": "list",
          "cachedResultName": "Search Boards",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1010465904"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "tg каналы в которых искать"
          ],
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:I3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        384,
        0
      ],
      "id": "f630ca02-9ccb-455b-a0b5-b5404b4d56cf",
      "name": "Paste channel links to parse",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "4m4boBmcNiGrrXCH",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13144a7c-ab0e-41a1-891b-581ca3b1f192",
              "name": "ID",
              "value": "={{ $json.data[0].ID }}",
              "type": "number"
            },
            {
              "id": "336f9c66-4e93-46b7-924f-d5f0903d57c8",
              "name": "chat_username",
              "value": "={{ $json.data[0].chat_username }}",
              "type": "string"
            },
            {
              "id": "b453f364-7dbd-48de-97a7-a5cbe9b17b71",
              "name": "chat_id",
              "value": "={{ $json.data[1].id }}",
              "type": "number"
            },
            {
              "id": "31def429-1f81-4492-8e96-39057793dd6e",
              "name": "title",
              "value": "={{ $json.data[1].title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        0
      ],
      "id": "b1e6b7a0-21ec-4a1d-966a-52a6e76daaeb",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1520,
        0
      ],
      "id": "47bc0d5d-4fab-4dd7-a26a-7e801a78fa5a",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ],
      "id": "74233ae1-8616-4f32-bfa4-a7a10fa994a1",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        -224
      ],
      "id": "f1fb8a2e-ff05-41a4-9992-37116d08bbe9",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items.length || !Array.isArray(items[0].json.data)) {\n  throw new Error('Ожидается один item с массивом в поле data');\n}\n\nconst data = items[0].json.data;\n\n// Группируем по ID\nconst grouped = new Map();\n\nfor (const row of data) {\n  const id = row.ID ?? null;\n  if (id === null) continue;\n\n  if (!grouped.has(id)) {\n    grouped.set(id, {\n      ID: id,\n      chat_ids: [],\n      chat_usernames: [],\n    });\n  }\n\n  const group = grouped.get(id);\n\n  if (row.chat_id !== undefined && row.chat_id !== null) {\n    group.chat_ids.push(row.chat_id);\n  }\n\n  if (\n    row.chat_username !== undefined &&\n    row.chat_username !== null &&\n    String(row.chat_username).trim() !== ''\n  ) {\n    const username = String(row.chat_username).trim();\n    group.chat_usernames.push(username.startsWith('@') ? username : `@${username}`);\n  }\n}\n\n// Формируем выход\nconst result = [];\n\nfor (const group of grouped.values()) {\n  const uniqueChatIds = [...new Set(group.chat_ids)];\n  const uniqueChatUsernames = [...new Set(group.chat_usernames)];\n\n  result.push({\n    json: {\n      ID: group.ID,\n      chat_ids: uniqueChatIds,\n      chat_usernames_multiline: uniqueChatUsernames.join('\\n'),\n    },\n  });\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -224
      ],
      "id": "8a53c8a9-25fb-4dfe-98d9-b921aecddb76",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2320,
        -224
      ],
      "id": "b1e8d3fb-3807-46f6-a126-5d50e6cc7574",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1136,
        0
      ],
      "id": "42f30b12-7170-4e77-9e00-70d538627ff9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1010465904,
          "mode": "list",
          "cachedResultName": "Search Boards",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1010465904"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg каналы в которых искать": "={{ $json.chat_usernames_multiline }}",
            "tg каналы chat_id": "={{ $json.chat_ids }}",
            "ID": "={{ $json.ID }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Speech (ID 1)",
              "displayName": "Speech (ID 1)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tg каналы в которых искать",
              "displayName": "tg каналы в которых искать",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tg каналы chat_id",
              "displayName": "tg каналы chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "куда отправляем релевантные сообщения",
              "displayName": "куда отправляем релевантные сообщения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Техническая инфа\n(заполняется автоматически, руками не трогать)",
              "displayName": "Техническая инфа\n(заполняется автоматически, руками не трогать)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        -224
      ],
      "id": "1183044b-c644-4040-9bd2-5ea3282c4a4d",
      "name": "Update chat_ids",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search public chat by username": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trim_url": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paste channel links to parse": {
      "main": [
        [
          {
            "node": "trim_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update chat_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search public chat by username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update chat_ids": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8fb48959-516f-4ece-b3d2-326d939ca102",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85c4b7fce07d641848755f7319c155322c67f73dc44bfdfe3c4148640754780c"
  },
  "id": "JDcc7zf7TntVidZF",
  "tags": [
    {
      "updatedAt": "2026-03-09T01:05:09.484Z",
      "createdAt": "2026-03-09T01:05:09.484Z",
      "id": "59GAEkUSAPNKDxMT",
      "name": "Search ID2"
    }
  ]
}