src/workflows/[PROD]Chat_Opener_3_minutes.json
{
  "name": "[PROD]Chat_Opener_3_minutes",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840716485,
          "mode": "list",
          "cachedResultName": "Search Speech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1840716485"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:J3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        0
      ],
      "id": "989412a5-a33a-46eb-8a41-e56bdc640be6",
      "name": "Get target chat_ids",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        608,
        0
      ],
      "id": "85f92709-4255-485a-9463-4a51a1024bc9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": "={{ Math.random() * 1 + 1}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        144
      ],
      "id": "43453f5c-fbeb-4ae0-bbce-da7543c8bc97",
      "name": "Wait",
      "webhookId": "d0d353d2-e670-4c3b-931f-a739621b6c76"
    },
    {
      "parameters": {
        "operation": "closeChat",
        "chat_id": "={{ $('Loop Over Items').item.json.chat_id }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        1344,
        144
      ],
      "id": "1d200d1a-b191-44f3-ba96-a6a917a603c8",
      "name": "Close chat",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.random() * 1 + 2}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1568,
        144
      ],
      "id": "76b70e8b-df17-4491-8f52-8cbd379b3b0b",
      "name": "Wait1",
      "webhookId": "0fc010d5-4e6d-4740-a526-33c2e1c6933a"
    },
    {
      "parameters": {
        "operation": "openChat",
        "chat_id": "={{ $json.chat_id }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        896,
        96
      ],
      "id": "cd06ad66-9cce-4a08-a782-b34f642043d2",
      "name": "Open chat",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Воркфлоу для получения обновлений из чатов\nИспользуется для чатов с большим количеством сообещний и ЧАСТЫМИ обновлениями. Список каналов передаётся через Google Sheets ноду `Get target chat_ids`.\nКаждые [2] минуты открывается и закрываются чаты из массива, что позволяет получить обновления из телеграма.\n\nРекомендуемая структура листа `FrequentChatsOpener`: лист с индентификаторов чатов с частыми обновления. Нода используется с параметром `Data Location` on Sheet (в моём случае и в случае использования данных из эксель файла `Palatine-selfbot-n8n` - B1:C для получения юзернеймов и индентификаторов чатов).\nСтолбцы: `Channel_URL`, `Channel_username`, `Channel_ID`, `Channel_Title`, `Insatnce_ID`",
        "height": 320,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        -400
      ],
      "id": "21098645-3f12-4cb0-b8a4-7c9fa3f261d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        896,
        -144
      ],
      "id": "5f0d7492-c21e-41da-842c-76d6dcabaa63",
      "name": "Execute me to test Workflow"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */3 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        0
      ],
      "id": "ab18139f-47d9-4830-a632-16bc4d669dec",
      "name": "Every 2 minute Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction normalizeIdArray(arr) {\n  if (!Array.isArray(arr)) return [];\n\n  return arr\n    .map(v => Number(v))\n    .filter(v => Number.isFinite(v));\n}\n\nfunction normalizeUsernameArray(value) {\n  const raw = String(value ?? '');\n\n  return raw\n    .split(/\\r?\\n/)\n    .map(s => s.trim())\n    .filter(Boolean)\n    .map(s => (s.startsWith('@') ? s : `@${s}`));\n}\n\nfunction arraysEqualAsSets(a, b) {\n  const aa = [...new Set(a)].sort((x, y) => x - y);\n  const bb = [...new Set(b)].sort((x, y) => x - y);\n\n  if (aa.length !== bb.length) return false;\n\n  for (let i = 0; i < aa.length; i++) {\n    if (aa[i] !== bb[i]) return false;\n  }\n\n  return true;\n}\n\nfunction buildPairs(ids, usernames, source = null) {\n  const len = Math.min(ids.length, usernames.length);\n  const pairs = [];\n\n  for (let i = 0; i < len; i++) {\n    const pair = {\n      chat_id: ids[i],\n      chat_username: usernames[i],\n    };\n\n    if (source) {\n      pair.source = source;\n    }\n\n    pairs.push(pair);\n  }\n\n  return pairs;\n}\n\nconst result = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  const regexpIds = normalizeIdArray(row.chat_id_regexp);\n  const regexpUsernames = normalizeUsernameArray(row.chat_usernames_regexp);\n\n  const llmIds = normalizeIdArray(row.chat_id_llm);\n  const llmUsernames = normalizeUsernameArray(row.chat_usernames_llm);\n\n  const sendTo = row.send_to ?? null;\n\n  const idsAreEqual = arraysEqualAsSets(regexpIds, llmIds);\n\n  if (idsAreEqual) {\n    const pairs = buildPairs(regexpIds, regexpUsernames, sendTo, 'merged');\n\n    for (const pair of pairs) {\n      result.push({ json: pair });\n    }\n  } else {\n    const regexpPairs = buildPairs(regexpIds, regexpUsernames, sendTo, 'regexp');\n    const llmPairs = buildPairs(llmIds, llmUsernames, sendTo, 'llm');\n\n    for (const pair of [...regexpPairs, ...llmPairs]) {\n      result.push({ json: pair });\n    }\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "e686e91a-8feb-4020-aaae-68305268e64f",
      "name": "Compare arrays",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86edad06-7698-4a1f-8089-1ddbf4b53037",
              "name": "chat_usernames_regexp",
              "value": "={{ $input.first().json.values()[9] }}",
              "type": "string"
            },
            {
              "id": "b5221647-4bc2-4596-8078-6fe02fdcea71",
              "name": "chat_id_regexp",
              "value": "={{ $input.first().json.values()[10] }}",
              "type": "array"
            },
            {
              "id": "a837226e-9e36-4f91-bca1-9a5227a27b8e",
              "name": "chat_usernames_llm",
              "value": "={{ $input.last().json.values()[9] }}",
              "type": "string"
            },
            {
              "id": "5c239677-5510-4597-ae90-10db40b2fb82",
              "name": "chat_id_llm",
              "value": "={{ $input.last().json.values()[10] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        0
      ],
      "id": "e21e46c3-00cf-4040-86c8-47656ed995ea",
      "name": "chat_metadata"
    }
  ],
  "pinData": {},
  "connections": {
    "Get target chat_ids": {
      "main": [
        [
          {
            "node": "chat_metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute me to test Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Open chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Close chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close chat": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open chat": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 2 minute Trigger": {
      "main": [
        [
          {
            "node": "Get target chat_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare arrays": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "chat_metadata": {
      "main": [
        [
          {
            "node": "Compare arrays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Moscow",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Cuotassx3PEelIog"
  },
  "versionId": "443a3fe7-d97f-4d95-b464-2b5dace97ede",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85c4b7fce07d641848755f7319c155322c67f73dc44bfdfe3c4148640754780c"
  },
  "id": "yrcv0QtHgdryH4Ii",
  "tags": [
    {
      "updatedAt": "2026-03-05T10:53:53.866Z",
      "createdAt": "2025-12-31T15:15:42.132Z",
      "id": "QIq09oe3LXjbB3MA",
      "name": "MessageAnalyzer"
    }
  ]
}