src/workflows/[PROD]LLM UserInfo Sender.json
{
  "name": "[PROD]LLM UserInfo Sender",
  "nodes": [
    {
      "parameters": {
        "amount": "={{ Math.random() * 2 + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        -64
      ],
      "id": "959f453f-ba51-4143-85f1-ed1f623b2f69",
      "name": "Wait1",
      "webhookId": "9a9455b6-17cd-4ad6-9029-32493ae36c97"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1232,
        464
      ],
      "id": "eb7a9dd1-4e0a-468e-ac0e-b378b0be11dd",
      "name": "Цикл отправки сообщений"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3248,
        576
      ],
      "id": "725b5aa8-4caa-42f2-9a5c-acefa054d407",
      "name": "Успешное завершение итерации цикла"
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getUser",
        "user_id": "={{ $json.user_id }}"
      },
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        320,
        48
      ],
      "id": "08c8a687-c77b-4a75-91ff-46f06c4f1b5e",
      "name": "Get user",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "chat_id": "={{ $json.send_to }}",
        "messageText": "=Новое релевантное сообщение:\nДата сообщения: {{ $json.telegram_date }}\nСсылка: {{ $json.message_link }}\nТекст сообщения: {{ $json.text }}\n\nПользователь: {{ $json.username }}\n{{ $json.user_name }}\n\nЧат: {{ $json.chat_username }}\nULR: {{ $json.chat_url }}",
        "message_thread_id": 0
      },
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        2064,
        -64
      ],
      "id": "04d5a1c7-188f-462d-842e-a595608e579e",
      "name": "Send text message",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Подготовка информации к отправке сообщения, прошедшего успешную проверку через LLM\nПроисходит сбор пользовательского юзернейма и названия канала.\nДля фильрации от случайного попадания идентификаторов каналов используются Set `user_id` и If  `If user_id exists` нода. Обычно, идентификаторы групп и каналов начинаются с префикса \"-100...\". Это происходит для того, чтобы сообщение, отправленное от лица канала не проходило отбор.\nДля тестового выполнения цикла полностью необходимо выполнить ноду `Execute me to test Workflow`.",
        "height": 1040,
        "width": 2896,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -560
      ],
      "id": "294f1246-43d8-4981-80d2-f8f76db1c3e0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2592,
        480
      ],
      "id": "b95f1135-908f-4b29-a02a-be212c1d6867",
      "name": "Wait for Execution"
    },
    {
      "parameters": {
        "content": "## Обновление записи в БД\nИзменение флага отправленного сообщения на true в случае успешного выполнения воркфлоу.",
        "height": 304,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2736,
        336
      ],
      "id": "e06e566b-2491-4b44-81da-8296e418af07",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2976,
        480
      ],
      "id": "fce60519-81c9-49fa-b47f-fd7092ef90e9",
      "name": "Обновление БД",
      "credentials": {
        "postgres": {
          "id": "4z4s5W8zN4Xuxx6b",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map((item) => {\n  const row = item.json;\n\n  const chatId = Number(row.chat_id);\n  const messageId = Number(row.message_id);\n\n  if (!Number.isFinite(chatId) || !Number.isFinite(messageId)) {\n    return {\n      json: {\n        error: 'Missing or invalid chat_id/message_id',\n        original_data: row,\n      },\n    };\n  }\n\n  const query = `\n    UPDATE telegram_messages\n    SET\n      tg_sent = $1,\n      updated_at = CURRENT_TIMESTAMP\n    WHERE\n      chat_id = $2\n      AND message_id = $3\n    RETURNING\n      id,\n      chat_id,\n      user_id,\n      message_id,\n      tg_sent,\n      updated_at;\n  `;\n\n  return {\n    json: {\n      query,\n      params: [1, chatId, messageId],\n      action: 'mark_as_sent',\n      update_data: {\n        chat_id: chatId,\n        message_id: messageId,\n        tg_sent: 1,\n      },\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        480
      ],
      "id": "ee702177-a254-4b73-8c27-714d8407b178",
      "name": "Подготовка SQL-запроса"
    },
    {
      "parameters": {
        "content": "## Отправка сообщения в админский чат",
        "height": 272,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        -160
      ],
      "id": "012eb8f4-d187-46f1-ae7e-1056234c477f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "317ce36e-eb21-444f-b02c-56f93568af97",
              "name": "username",
              "value": "={{ $json.usernames?.active_usernames?.[0] ? \"@\" + $json.usernames.active_usernames[0] : $json.message }}",
              "type": "string"
            },
            {
              "id": "157427fd-d441-40fb-82a5-d87255b66b84",
              "name": "user_name",
              "value": "={{ ($json.first_name + ' ' + $json.last_name).trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        48
      ],
      "id": "0f05ff0a-f44f-4a70-a98d-d87c6b13c6f4",
      "name": "Username"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80582292-8571-4abd-9a43-07c0612fdb43",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "f74b3e6d-7619-455e-963d-efe557422d3c",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "c9af7258-3fa7-4a07-8ca5-fcff07ea059e",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "number"
            },
            {
              "id": "7ad53468-b7fb-4f2d-b217-20cd2af82022",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0bf46d23-f382-4924-abda-d58fc25f68bb",
              "name": "telegram_date",
              "value": "={{ new Date($json.telegram_date).toISOString().replace('T', ' ').substring(0, 19) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        -96
      ],
      "id": "3d3b7fd2-9797-43c7-b145-c4d5f8a19299",
      "name": "message_metadata"
    },
    {
      "parameters": {
        "content": "## Запуск воркфлоу\nСбор сообщений, которые были обработаны и признаны релевантными LLM и которые ещё не были отправлены в админский чат.\n\nДля корректной работы неоходимо заполнить админский chat_id.\nПод админским чатом подразумевается чат, в который будут отправляться сообщения, признанные LLM релевантными.\nНеобходимо указать chat_id такого чата в ноде `Send text message`. Указывается либо идентификатор чата с конкретным человеком, либо идентификатор канала/группы.\n\nWait нода используется для соблюдения разумных лимитов запросов к API Telegram.\n\nБыстрые способы получения ID чата:\n- Telepilot нода `Search public chat by username/title` для каналов и групп.\n- Telepilot нода-триггер `On new message`: добавляете в workflow, запускаете, отправляете сообщение с со своего аккаунта/получаете сообщение с необходимого аккаунта.\nАльтернативный способ - использовать workflow `Channel_ID_Parser`\n\nПериодичность запуска workflow настраивается в ноде `Schedule Trigger`, по умолчанию - каждые 45 минут.",
        "height": 784,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1792,
        -112
      ],
      "id": "477092e1-f7f7-45ca-9221-d9ec59689d3e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "045b8af1-43cf-4b14-8895-c1b41a308190",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        48
      ],
      "id": "61c178a3-4642-4f55-80db-73879ad7b2ab",
      "name": "If user_id exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed4b600f-7055-42ca-b7b9-d8c4bd926de2",
              "name": "user_id",
              "value": "={{ (parseInt($json.user_id || 0) > 0) ? $json.user_id : false }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        48
      ],
      "id": "9e632e28-de38-4894-9d07-795cd2c7ee3a",
      "name": "user_id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30c50e9e-3325-484e-bbc3-384b86a660d2",
              "name": "chat_username",
              "value": "={{ $json.chat_username }}",
              "type": "string"
            },
            {
              "id": "86f0dcda-7547-4db7-81a1-9b4eac54658d",
              "name": "chat_url",
              "value": "={{\"https://t.me/\" + $json.chat_username.substring(1,) }}",
              "type": "string"
            },
            {
              "id": "aa58cde1-6a47-4b24-b8f3-2e2bf778ee72",
              "name": "send_to",
              "value": "={{ $json.send_to }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -208
      ],
      "id": "91537bb9-d325-495e-95c9-9c912ed44e16",
      "name": "Chat Username"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1680,
        464
      ],
      "id": "b3340370-33b4-4850-be00-bbe58459d4ab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -960,
        -416
      ],
      "id": "13abda39-4cbf-4dd7-a8a6-799aa4ebae1b",
      "name": "Execute me to test Workflow"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -96
      ],
      "id": "e52db570-2908-4e9e-9155-006155ce1b65",
      "name": "Merge data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        -64
      ],
      "id": "f571c6c9-b81f-4326-a228-ccabfb36dacb",
      "name": "Aggregate data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM telegram_messages\nWHERE tg_sent = 0\n  AND \n  regexp_relevant = 1\n  OR llm_relevant = 1\nLIMIT 10",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        464
      ],
      "id": "c48bd088-e16f-4b46-b9dd-d816130cb5ae",
      "name": "Сбор проанализированных сообщений для отправки",
      "credentials": {
        "postgres": {
          "id": "4z4s5W8zN4Xuxx6b",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getMessageLink",
        "chat_id": "={{ $json.messages[0].chat_id }}",
        "message_id": "={{ $json.messages[0].id }}"
      },
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        560,
        240
      ],
      "id": "f7874bde-e830-4ed8-abea-56b7b40ecf35",
      "name": "Get direct link to a specific message in a group or supergroup",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chat_id": "={{ $json.chat_id }}",
        "from_message_id": "={{ $json.message_id + 1 }}",
        "limit": "1"
      },
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        -320,
        240
      ],
      "id": "bffc526b-d0d2-4234-b7e8-933cfeae29b5",
      "name": "Get chat history",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 2 + 1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        816,
        -208
      ],
      "id": "166c5d4c-8e07-466d-a2ea-d4208bded187",
      "name": "Wait",
      "webhookId": "43d9374c-05a9-488f-9b69-c7f77b5efc73"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 2 + 1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -752,
        240
      ],
      "id": "8a91a59a-9ab4-4eb5-9103-0db39c7e5f18",
      "name": "Wait2",
      "webhookId": "6e886e9f-8523-4af0-a3d8-a3b8968f40f9"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 2 + 1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        240
      ],
      "id": "7d959e84-cd03-4930-a84e-a0e05d7cfab3",
      "name": "Wait3",
      "webhookId": "8d39198d-9501-45fe-9216-3142d365478f"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 2 + 1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1696,
        -64
      ],
      "id": "8bb3e9ab-ba91-42a8-b122-fbc4f0441291",
      "name": "Wait4",
      "webhookId": "34021f59-dbc1-4a52-ac6f-7c29f59626fc"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecdb669e-ec59-429c-8752-b48bb8353290",
              "name": "send_to",
              "value": "={{ $json.data[0].send_to }}",
              "type": "number"
            },
            {
              "id": "09326d90-dcd4-4384-a907-72890742491e",
              "name": "chat_username",
              "value": "={{ $json.data[0].chat_username }}",
              "type": "string"
            },
            {
              "id": "47fd2286-2aec-4d3a-b482-3e005b0d0a6f",
              "name": "chat_id",
              "value": "={{ $json.data[1].chat_id }}",
              "type": "number"
            },
            {
              "id": "5d5da9d0-89f0-4c90-9a9f-67adf156cfe5",
              "name": "chat_url",
              "value": "={{ $json.data[0].chat_url }}",
              "type": "string"
            },
            {
              "id": "4f845074-d5ef-4747-94bb-6bb23d1b3277",
              "name": "user_id",
              "value": "={{ $json.data[1].user_id }}",
              "type": "number"
            },
            {
              "id": "8d92e51e-9798-4946-8ca5-c9ec9d186de3",
              "name": "username",
              "value": "={{ $json.data[2].username }}",
              "type": "string"
            },
            {
              "id": "e953c3fe-0bb8-485d-a3ab-b42a6c799f5e",
              "name": "user_name",
              "value": "={{ $json.data[2].user_name }}",
              "type": "string"
            },
            {
              "id": "931ed774-2ece-44fd-9ee1-8109b244e5f8",
              "name": "telegram_date",
              "value": "={{ new Date($json.data[1].telegram_date).toLocaleString('ru-RU') }}",
              "type": "string"
            },
            {
              "id": "4311e7cf-c306-48fe-b9c3-f349a3e5a5af",
              "name": "message_id",
              "value": "={{ $json.data[1].message_id }}",
              "type": "number"
            },
            {
              "id": "f810b37f-fa37-4256-bfc7-d06e4e783cbe",
              "name": "text",
              "value": "={{ $json.data[1].text }}",
              "type": "string"
            },
            {
              "id": "5a9ae23b-8710-427b-a13d-1ba3def9f5cd",
              "name": "message_link",
              "value": "={{ $json.data[3].link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1504,
        -64
      ],
      "id": "5ad38d36-0bb4-455c-bd7a-5872e4a48698",
      "name": "Get message metadata"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840716485,
          "mode": "list",
          "cachedResultName": "Search Speech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1840716485"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:K3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        -352
      ],
      "id": "79d9c76d-d7b5-4e36-a31f-d5f3a5356831",
      "name": "Get chat_id",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86edad06-7698-4a1f-8089-1ddbf4b53037",
              "name": "chat_usernames_regexp",
              "value": "={{ $input.first().json.values()[9] }}",
              "type": "string"
            },
            {
              "id": "b5221647-4bc2-4596-8078-6fe02fdcea71",
              "name": "chat_id_regexp",
              "value": "={{ $input.first().json.values()[10] }}",
              "type": "array"
            },
            {
              "id": "a837226e-9e36-4f91-bca1-9a5227a27b8e",
              "name": "chat_usernames_llm",
              "value": "={{ $input.last().json.values()[9] }}",
              "type": "string"
            },
            {
              "id": "5c239677-5510-4597-ae90-10db40b2fb82",
              "name": "chat_id_llm",
              "value": "={{ $input.last().json.values()[10] }}",
              "type": "array"
            },
            {
              "id": "ca8a4a25-7048-4fc2-80f5-dfc32192b916",
              "name": "=send_to",
              "value": "={{ $input.first().json.values()[11] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -352
      ],
      "id": "bd4c25ce-e9fb-4e5c-9892-2a1a1235ee80",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfunction normalizeIdArray(arr) {\n  if (!Array.isArray(arr)) return [];\n\n  return arr\n    .map(v => Number(v))\n    .filter(v => Number.isFinite(v));\n}\n\nfunction normalizeUsernameArray(value) {\n  const raw = String(value ?? '');\n\n  return raw\n    .split(/\\r?\\n/)\n    .map(s => s.trim())\n    .filter(Boolean)\n    .map(s => (s.startsWith('@') ? s : `@${s}`));\n}\n\nfunction arraysEqualAsSets(a, b) {\n  const aa = [...new Set(a)].sort((x, y) => x - y);\n  const bb = [...new Set(b)].sort((x, y) => x - y);\n\n  if (aa.length !== bb.length) return false;\n\n  for (let i = 0; i < aa.length; i++) {\n    if (aa[i] !== bb[i]) return false;\n  }\n\n  return true;\n}\n\nfunction buildPairs(ids, usernames, sendTo, source = null) {\n  const len = Math.min(ids.length, usernames.length);\n  const pairs = [];\n\n  for (let i = 0; i < len; i++) {\n    const pair = {\n      send_to: sendTo,\n      chat_id: ids[i],\n      chat_username: usernames[i],\n    };\n\n    if (source) {\n      pair.source = source;\n    }\n\n    pairs.push(pair);\n  }\n\n  return pairs;\n}\n\nconst result = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  const regexpIds = normalizeIdArray(row.chat_id_regexp);\n  const regexpUsernames = normalizeUsernameArray(row.chat_usernames_regexp);\n\n  const llmIds = normalizeIdArray(row.chat_id_llm);\n  const llmUsernames = normalizeUsernameArray(row.chat_usernames_llm);\n\n  const sendTo = row.send_to ?? null;\n\n  const idsAreEqual = arraysEqualAsSets(regexpIds, llmIds);\n\n  if (idsAreEqual) {\n    const pairs = buildPairs(regexpIds, regexpUsernames, sendTo);\n\n    for (const pair of pairs) {\n      result.push({ json: pair });\n    }\n  } else {\n    const regexpPairs = buildPairs(regexpIds, regexpUsernames, sendTo, 'regexp');\n    const llmPairs = buildPairs(llmIds, llmUsernames, sendTo, 'llm');\n\n    for (const pair of [...regexpPairs, ...llmPairs]) {\n      result.push({ json: pair });\n    }\n  }\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -352
      ],
      "id": "eae0baa8-5171-4b13-aadd-51f8fedc74f4",
      "name": "Compare arrays",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "220b3f85-2ac3-471e-a59c-4543b0503293",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        -192
      ],
      "id": "6a871307-defa-497a-b6db-45cc805a6937",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -112,
        -352
      ],
      "id": "f12883c7-96c9-4b8a-9edc-4bd942ec354a",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        96,
        -208
      ],
      "id": "307858bd-59fd-4453-ad29-552dc3c47c87",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length < 2) {\n  throw new Error('Ожидается 2 item: первый с chat_id, второй с data');\n}\n\nconst currentChatId = Number(items[0]?.json?.chat_id);\n\nif (!Number.isFinite(currentChatId)) {\n  throw new Error('В первом item отсутствует корректный chat_id');\n}\n\nconst data = items[1]?.json?.data;\n\nif (!Array.isArray(data)) {\n  throw new Error('Во втором item должен быть массив data');\n}\n\nconst matched = data.find(row => Number(row.chat_id) === currentChatId);\n\nif (!matched) {\n  return [\n    {\n      json: {\n        chat_id: currentChatId,\n        found: 0,\n      },\n    },\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ...matched,\n      found: 1,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        -208
      ],
      "id": "6e3a15f7-9fe8-492b-88a9-1a2b4ca1d422",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "Wait for Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл отправки сообщений": {
      "main": [
        [
          {
            "node": "Execute me to test Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "message_metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait for Execution",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Успешное завершение итерации цикла": {
      "main": [
        [
          {
            "node": "Цикл отправки сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user": {
      "main": [
        [
          {
            "node": "Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text message": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Execution": {
      "main": [
        [
          {
            "node": "Подготовка SQL-запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновление БД": {
      "main": [
        [
          {
            "node": "Успешное завершение итерации цикла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка SQL-запроса": {
      "main": [
        [
          {
            "node": "Обновление БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "message_metadata": {
      "main": [
        [
          {
            "node": "user_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge data",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get chat_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If user_id exists": {
      "main": [
        [
          {
            "node": "Get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user_id": {
      "main": [
        [
          {
            "node": "If user_id exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Username": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Сбор проанализированных сообщений для отправки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data": {
      "main": [
        [
          {
            "node": "Aggregate data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate data": {
      "main": [
        [
          {
            "node": "Get message metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор проанализированных сообщений для отправки": {
      "main": [
        [
          {
            "node": "Цикл отправки сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get direct link to a specific message in a group or supergroup": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat history": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get direct link to a specific message in a group or supergroup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Send text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message metadata": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat_id": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Compare arrays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare arrays": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Chat Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a7c49d63-c0a0-4a3e-a9b8-67f8b254277a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85c4b7fce07d641848755f7319c155322c67f73dc44bfdfe3c4148640754780c"
  },
  "id": "j32tqGMsjm4N1zwk",
  "tags": [
    {
      "updatedAt": "2026-03-05T10:53:53.866Z",
      "createdAt": "2025-12-31T15:15:42.132Z",
      "id": "QIq09oe3LXjbB3MA",
      "name": "MessageAnalyzer"
    }
  ]
}