src/workflows/Chat_Opener_10_minutes.json
{
  "name": "Chat_Opener_10_minutes",
  "nodes": [
    {
      "parameters": {
        "operation": "openChat",
        "chat_id": "={{ $json.Channel_ID }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        848,
        96
      ],
      "id": "4792d611-0969-4bd1-9f7a-4914f560b9a9",
      "name": "Open chat",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-parser",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 551023132,
          "mode": "list",
          "cachedResultName": "SlowChatsOpener",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=551023132"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "B1:C"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        -32
      ],
      "id": "c36cf451-6e4e-4599-b975-ed7d5a6581ef",
      "name": "Get target chat_ids",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        -48
      ],
      "id": "fcfd2008-7190-4dad-8353-5c170ae3883b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": "={{ Math.random() * 1 + 1}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1056,
        96
      ],
      "id": "c379cafc-c1b1-47d1-a168-f67887610399",
      "name": "Wait",
      "webhookId": "56b4fafe-abfc-4225-a85b-53c118fda699"
    },
    {
      "parameters": {
        "operation": "closeChat",
        "chat_id": "={{ $('Loop Over Items').item.json.Channel_ID }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        1264,
        96
      ],
      "id": "741fdaab-bb9e-4e9d-ae66-fb2750e56c80",
      "name": "Close chat",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.random() * 1 + 2}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        96
      ],
      "id": "56996c6f-4818-4e3c-b916-cac97f061a18",
      "name": "Wait1",
      "webhookId": "e4e2ff81-7585-4e10-a5b1-9dfae38f8689"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */10 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -32
      ],
      "id": "93452ff7-31e3-482e-a735-ba7fc606adaa",
      "name": "Every 10 minutes Trigger"
    },
    {
      "parameters": {
        "content": "## Воркфлоу для получения обновлений из чатов\nИспользуется для чатов с большим количеством сообещний, но не частыми обновлениями. Список каналов передаётся через Google Sheets ноду `Get target chat_ids`.\nКаждые [10] минут открывается и закрываются чаты из листа в Google Sheets, что позволяет получить обновления из телеграма.\n\nРекомендуемая структура листа `SlowChatsOpener`: лист с результатами парсинга индентификаторов чатов с параметром `Data Location` on Sheet (в моём случае и в случае использования данных из эксель файла `Palatine-selfbot-n8n` - B1:C для получения юзернеймов и индентификаторов чатов).\nСтолбцы: `Channel_URL`, `Channel_username`, `Channel_ID`, `Channel_Title`, `Insatnce_ID`\n`Compare Datasets (Get Slow Chats)` нода используется для фильтрации каналов, которые используются в воркфлоу с открытием чатов каждые [3] минуты, они исключаются из массива элементов в данном workflow. Сработает только в случае, если лист \"FrequentChatsOpener\" не содержит chat_id \"медленных\" чатов.",
        "height": 320,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -400
      ],
      "id": "eb09592b-9e9d-4ae8-b0ad-aa1b45ad8cb0",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        -288
      ],
      "id": "1015a0be-2a54-4635-847c-30c2d34e9a1b",
      "name": "Execute me to test Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1536316354,
          "mode": "list",
          "cachedResultName": "FrequentChatsOpener",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1536316354"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "B1:C"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        144
      ],
      "id": "f990f763-1062-478b-b9df-a0c6fcc300aa",
      "name": "Get frequent chat_ids",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "Channel_ID",
              "field2": "Channel_ID"
            }
          ]
        },
        "resolve": "preferInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        224,
        -32
      ],
      "id": "5847f677-03d2-4348-9cbb-27748fa5a972",
      "name": "Compare Datasets (Get Slow Chats)"
    }
  ],
  "pinData": {},
  "connections": {
    "Open chat": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute me to test Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Open chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Close chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close chat": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get target chat_ids": {
      "main": [
        [
          {
            "node": "Compare Datasets (Get Slow Chats)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 10 minutes Trigger": {
      "main": [
        [
          {
            "node": "Get target chat_ids",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get frequent chat_ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get frequent chat_ids": {
      "main": [
        [
          {
            "node": "Compare Datasets (Get Slow Chats)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Compare Datasets (Get Slow Chats)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Cuotassx3PEelIog"
  },
  "versionId": "e2581068-68e2-4e3b-b8a8-19a117f04a1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85c4b7fce07d641848755f7319c155322c67f73dc44bfdfe3c4148640754780c"
  },
  "id": "E7zCiXNdVBgDqGXiaelQ2",
  "tags": []
}