src/workflows/Error Сatcher.json
{
  "name": "Error Сatcher",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8b1e8dc8-7296-490d-89b7-9dbadf9e0558",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "resource": "message",
        "messageText": "={{ $json.execution.id }};{{ $json.execution.url }}\n{{ $json.execution.error.message }};{{ $json.execution.error.stack }}\n{{ $json.execution.mode }};\n{{ $json.workflow.id }};{{ $json.workflow.name }}",
        "message_thread_id": 0
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        496,
        -176
      ],
      "id": "984426c9-278e-4d58-9d0a-669b8083ee58",
      "name": "Send text message",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "1c3fe420-4ea3-4a52-84dc-fca8c8b5d55c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": "={{ Math.random() * 5 + 2 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        0
      ],
      "id": "d37a43a3-a132-4af1-a2ec-4303e037deac",
      "name": "Wait",
      "webhookId": "4705d000-a684-4bda-b3de-d1af35968077"
    },
    {
      "parameters": {
        "content": "## Воркфлоу для логгирования ошибок исполнения воркфлоу\nЗаписывает ошибки выполнения в определённый лист на Гугл таблицах или отправляет сообщение в админский чат (требуется указание админского ID чата)\n\nДля теста workflow нажать кнопку `Execute workflow`. При отсутствии ошибки в течение 1 минуты, тестовая проверка выключится. Можно создать тестовые данные ошибки внутри ноды `Error Trigger` используя кнопку `set mock data`.\n\nЛогирование ошибок можно записывать в Гугл Таблицы или отправлять в админский чат (чат, в который приходят сообщения об анализе сообщений при помощи LLM). \n\nДля записи ошибок выполнения workflow можно использовать лист LLM_Parser_log или создать отдельный лист под ошибки, например, Workflow_exec_Errors\n\nДля отправки сообщения в админский чат необходимо указать chat_id  в ноде `Send text message`",
        "height": 320,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -528
      ],
      "id": "8acb4475-89a3-4ccf-a168-aad32b2a279d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1720353948,
          "mode": "list",
          "cachedResultName": "Workflow_exec_Errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1720353948"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        0
      ],
      "id": "ad7ee21a-9b4c-4ab9-9ca6-b1c529d3a2b4",
      "name": "Write error in GSheets cell",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Write error in GSheets cell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text message": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write error in GSheets cell": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e8f7a097-c3a0-41ec-b3e1-4869567721bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85c4b7fce07d641848755f7319c155322c67f73dc44bfdfe3c4148640754780c"
  },
  "id": "Cuotassx3PEelIog",
  "tags": []
}