src/workflows/Error Сatcher.json
{
  "name": "Error Сatcher",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        320,
        208
      ],
      "id": "fce47126-13ae-4136-b364-962e9aaf05ab",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "resource": "message",
        "chat_id": "={{ $json.send_to }}",
        "messageText": "={{ $json.execution.id }};{{ $json.execution.url }}\n{{ $json.execution.error.message }};{{ $json.execution.error.stack }}\n{{ $json.execution.mode }};\n{{ $json.workflow.id }};{{ $json.workflow.name }}",
        "message_thread_id": 0
      },
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        1312,
        208
      ],
      "id": "2b13e9ae-9e62-4441-8f1c-681944030394",
      "name": "Send text message"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        208
      ],
      "id": "5e5aa1ab-87b4-408f-a773-716bcc22d9a2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": "={{ Math.random() * 5 + 2 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        208
      ],
      "id": "116b102a-501b-49bb-b56c-bbcbb75f845d",
      "name": "Wait",
      "webhookId": "4705d000-a684-4bda-b3de-d1af35968077"
    },
    {
      "parameters": {
        "content": "## Воркфлоу для логгирования ошибок исполнения воркфлоу\nЗаписывает ошибки выполнения в определённый лист на Гугл таблицах или отправляет сообщение в админский чат (требуется указание админского ID чата)\n\nДля теста workflow нажать кнопку `Execute workflow`. При отсутствии ошибки в течение 1 минуты, тестовая проверка выключится. Можно создать тестовые данные ошибки внутри ноды `Error Trigger` используя кнопку `set mock data`.\n\nЛогирование ошибок можно записывать в Гугл Таблицы или отправлять в админский чат (чат, в который приходят сообщения об анализе сообщений при помощи LLM). \n\nДля записи ошибок выполнения workflow можно использовать лист LLM_Parser_log или создать отдельный лист под ошибки, например, Workflow_exec_Errors\n\nДля отправки сообщения в админский чат необходимо указать chat_id  в ноде `Send text message`",
        "height": 320,
        "width": 800
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -288
      ],
      "id": "995e1078-3b88-4ee0-ade2-ea5f26b7d8b3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1720353948,
          "mode": "list",
          "cachedResultName": "Workflow_exec_Errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1720353948"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        448
      ],
      "id": "056ea64f-dc13-401b-9b58-ec2254ad8164",
      "name": "Write error in GSheets cell",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840716485,
          "mode": "list",
          "cachedResultName": "Search Speech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1840716485"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:K3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        128
      ],
      "id": "15d13c4f-8e80-42cb-9298-a520cee04928",
      "name": "Get chat_id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca8a4a25-7048-4fc2-80f5-dfc32192b916",
              "name": "=send_to",
              "value": "={{ $input.first().json.values()[11] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        128
      ],
      "id": "522acb98-335c-486e-a0a5-c62ea1df0e6b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        208
      ],
      "id": "cddba8d3-c4ea-4f90-8c0e-023d7063ae74",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get chat_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write error in GSheets cell": {
      "main": [
        []
      ]
    },
    "Send text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat_id": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "84a5af44-ce83-436f-b5e6-28e849966bc0",
  "meta": {
    "instanceId": "fede15d8491a2064449a09c5d3b72e63d261205a6b5f6d6735c57c3cb06862bd"
  },
  "id": "VBCs3JUf2uyNGChK",
  "tags": []
}