src/workflows/LLM UserInfo Sender.json
{
  "name": "LLM UserInfo Sender",
  "nodes": [
    {
      "parameters": {
        "amount": "={{ Math.random() * 2 + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        -32
      ],
      "id": "5b1e05fb-b44b-41fa-8b5e-72918ce6e825",
      "name": "Wait1",
      "webhookId": "942e777d-f062-41df-8bbd-48919c1630ff"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1232,
        464
      ],
      "id": "f81f316d-1e6c-4ad7-ba8c-cbc78932e875",
      "name": "Цикл отправки сообщений"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2624,
        560
      ],
      "id": "75f4188e-e5da-4934-9505-dcaad29a7e99",
      "name": "Успешное завершение итерации цикла"
    },
    {
      "parameters": {
        "operation": "getChat",
        "chat_id": "={{ $json.chat_id }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        -768,
        -160
      ],
      "id": "1b6a3bbe-ac19-4148-b273-e36502120072",
      "name": "Get chat",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getUser",
        "user_id": "={{ $json.user_id }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        -320,
        112
      ],
      "id": "1981fb7f-1016-4361-9a85-f7f49ad6f924",
      "name": "Get user",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "chat_id": "=",
        "messageText": "=Получено новое релевантное сообщение\nИсточник: {{ $json.Chat }}\nОтправитель: {{ $json.username }}\n{{ $json.User_Name }}\nДата: {{ $json.telegram_date }}\nТекст: {{ $json.text }}\nСсылка: {{ $json.messageLink }}",
        "message_thread_id": 0
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        1152,
        -176
      ],
      "id": "f357dd4c-f8e5-4c6a-971f-4293fac5c81e",
      "name": "Send text message",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Подготовка информации к отправке сообщения, прошедшего успешную проверку через LLM\nПроисходит сбор пользовательского юзернейма и названия канала.\nДля фильрации от случайного попадания идентификаторов каналов используются Set `user_id` и If  `If user_id exists` нода. Обычно, идентификаторы групп и каналов начинаются с префикса \"-100...\". Это происходит для того, чтобы сообщение, отправленное от лица канала не проходило отбор.\nДля тестового выполнения цикла полностью необходимо выполнить ноду `Execute me to test Workflow`.",
        "height": 864,
        "width": 2016,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -384
      ],
      "id": "5dd10690-62b9-4e07-9c67-e7ef5979d40e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1968,
        464
      ],
      "id": "66683986-52b3-4de9-8702-9a10f7117534",
      "name": "Wait for Execution"
    },
    {
      "parameters": {
        "content": "## Обновление записи в БД\nИзменение флага отправленного сообщения на true в случае успешного выполнения воркфлоу.",
        "height": 304,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2128,
        352
      ],
      "id": "da71a677-b9ad-429f-9b4a-3af2843d5b81",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2352,
        464
      ],
      "id": "b52e4e6d-e0ef-4d0d-85fd-af0e4c5e486d",
      "name": "Обновление БД",
      "credentials": {
        "postgres": {
          "id": "4z4s5W8zN4Xuxx6b",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst results = items.map(item => {\n  const data = item.json;\n  \n  // Проверяем обязательные поля - нужен chat_id ИЛИ user_id\n  const hasChatId = data.chat_id !== undefined && data.chat_id !== null;\n  const hasUserId = data.user_id !== undefined && data.user_id !== null;\n  \n  if (!hasChatId && !hasUserId) {\n    console.warn('Missing both chat_id and user_id:', data);\n    return {\n      json: {\n        error: 'Missing both chat_id and user_id',\n        data: data,\n        action: 'update_tg_sent_failed'\n      }\n    };\n  }\n  \n  // Определяем что использовать для WHERE условия\n  let whereCondition;\n  let params;\n  \n  if (hasChatId) {\n    // Используем chat_id если он есть\n    whereCondition = 'chat_id = $1';\n    params = [data.chat_id];\n    \n    // Если есть и message_id, добавляем его\n    if (data.message_id !== undefined && data.message_id !== null) {\n      whereCondition += ' AND message_id = $2';\n      params.push(data.message_id);\n    }\n  } else {\n    // Используем user_id как fallback\n    whereCondition = 'user_id = $1';\n    params = [data.user_id];\n    \n    // Если есть message_id, добавляем его\n    if (data.message_id !== undefined && data.message_id !== null) {\n      whereCondition += ' AND message_id = $2';\n      params.push(data.message_id);\n    }\n  }\n  \n  // SQL запрос для обновления tg_sent\n  const query = `\n    UPDATE telegram_messages \n    SET \n      tg_sent = TRUE,\n      updated_at = CURRENT_TIMESTAMP\n    WHERE \n      ${whereCondition}\n    RETURNING \n      id,\n      chat_id,\n      user_id,\n      message_id,\n      tg_sent,\n      updated_at;\n  `;\n  \n  return {\n    json: {\n      // Для PostgreSQL executeQuery\n      query: query,\n      params: params,\n      \n      // Для отладки и логирования\n      update_data: {\n        used_chat_id: hasChatId,\n        chat_id: data.chat_id,\n        user_id: data.user_id,\n        message_id: data.message_id,\n        tg_sent: true,\n        action: 'mark_as_sent',\n        where_condition: whereCondition\n      },\n      \n      // Дополнительная информация\n      _debug: {\n        original_data: data,\n        has_chat_id: hasChatId,\n        has_user_id: hasUserId,\n        has_message_id: data.message_id !== undefined && data.message_id !== null,\n        timestamp: new Date().toISOString()\n      }\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        464
      ],
      "id": "922fdfa9-1940-41b6-974b-723154b0d321",
      "name": "Подготовка SQL-запроса"
    },
    {
      "parameters": {
        "content": "## Отправка сообщения в админский чат",
        "height": 272,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        -288
      ],
      "id": "d2b24e0e-ea87-4176-aa9f-136c47cdef2c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "317ce36e-eb21-444f-b02c-56f93568af97",
              "name": "usernames.active_usernames[0]",
              "value": "=@{{ $json.usernames.active_usernames[0] }}",
              "type": "string"
            },
            {
              "id": "157427fd-d441-40fb-82a5-d87255b66b84",
              "name": "name",
              "value": "={{ ($json.first_name + ' ' + $json.last_name).trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        112
      ],
      "id": "e4f272f9-a4e1-486e-b0ae-65eda806fa59",
      "name": "Username"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80582292-8571-4abd-9a43-07c0612fdb43",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "number"
            },
            {
              "id": "f74b3e6d-7619-455e-963d-efe557422d3c",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "7ad53468-b7fb-4f2d-b217-20cd2af82022",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "c9af7258-3fa7-4a07-8ca5-fcff07ea059e",
              "name": "message_id",
              "value": "={{ $json.message_id }}",
              "type": "number"
            },
            {
              "id": "0bf46d23-f382-4924-abda-d58fc25f68bb",
              "name": "telegram_date",
              "value": "={{ new Date($json.telegram_date).toISOString().replace('T', ' ').substring(0, 19) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -992,
        -32
      ],
      "id": "0100de0d-aa38-43c1-8b61-0c4c72aafd78",
      "name": "message_metadata"
    },
    {
      "parameters": {
        "content": "## Запуск воркфлоу\nСбор сообщений, которые были обработаны и признаны релевантными LLM и которые ещё не были отправлены в админский чат.\n\nДля корректной работы неоходимо заполнить админский chat_id.\nПод админским чатом подразумевается чат, в который будут отправляться сообщения, признанные LLM релевантными.\nНеобходимо указать chat_id такого чата в ноде `Send text message`. Указывается либо идентификатор чата с конкретным человеком, либо идентификатор канала/группы.\n\nWait нода используется для соблюдения разумных лимитов запросов к API Telegram.\n\nБыстрые способы получения ID чата:\n- Telepilot нода `Search public chat by username/title` для каналов и групп.\n- Telepilot нода-триггер `On new message`: добавляете в workflow, запускаете, отправляете сообщение с со своего аккаунта/получаете сообщение с необходимого аккаунта.\nАльтернативный способ - использовать workflow `Channel_ID_Parser`\n\nПериодичность запуска workflow настраивается в ноде `Schedule Trigger`, по умолчанию - каждые 45 минут.",
        "height": 784,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1792,
        -112
      ],
      "id": "25f78d32-bf2f-44f2-8373-e13aa55851e4",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "045b8af1-43cf-4b14-8895-c1b41a308190",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -544,
        112
      ],
      "id": "1d09181c-645b-4632-b897-50708a758cd4",
      "name": "If user_id exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed4b600f-7055-42ca-b7b9-d8c4bd926de2",
              "name": "user_id",
              "value": "={{ (parseInt($json.user_id || 0) > 0) ? $json.user_id : false }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -768,
        112
      ],
      "id": "2945d8e4-7176-4e3a-b356-b6528ac69ddc",
      "name": "user_id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "936ec267-4596-4d6f-820a-f66cb3f7e949",
              "name": "chat_Username",
              "value": "=@{{ $json.Channel_username }}",
              "type": "string"
            },
            {
              "id": "1d35e7fe-e300-4f97-9e11-da9f02d700e1",
              "name": "chat_Title",
              "value": "={{ $json.Channel_Title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -160
      ],
      "id": "75e23dae-9e34-472a-90c3-165309519f9b",
      "name": "Chat Username"
    },
    {
      "parameters": {
        "content": "## Отправка сообщения в GSheets",
        "height": 256,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        48
      ],
      "id": "5296f868-b34a-4217-9044-727bd8cfd135",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 516491278,
          "mode": "list",
          "cachedResultName": "RelevantMessages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=516491278"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        128
      ],
      "id": "fb1062e7-ad55-46b4-a7a1-161299e7d66f",
      "name": "RelevantMessages",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        -32
      ],
      "id": "a79a232f-43d2-4661-832e-d0f25bcf6088",
      "name": "Wait for Execution Input 1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 962513866,
          "mode": "list",
          "cachedResultName": "GetChannelIDs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=962513866"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Channel_Title",
              "lookupValue": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -544,
        -160
      ],
      "id": "1ad1e415-ad07-4db7-b05c-38eef74ae0ff",
      "name": "Get chat username",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 45
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1680,
        464
      ],
      "id": "44bc5ea4-93f4-4419-9572-2cc64b8e4d90",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -992,
        -224
      ],
      "id": "ea4be6c0-9999-4b3b-bfba-343ef877f474",
      "name": "Execute me to test Workflow"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        -48
      ],
      "id": "a4b505fa-6c3b-4d1f-a90a-5e7bf97002ca",
      "name": "Merge data"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        352,
        -16
      ],
      "id": "93131fa1-1e76-4cdd-88fa-5c8bb4301d3e",
      "name": "Aggregate data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d79bb212-c57d-452d-8071-e23e015dcc0e",
              "name": "Chat",
              "value": "={{ $json.data[0].chat_Username }} {{ $json.data[0].chat_Title }}",
              "type": "string"
            },
            {
              "id": "09326d90-dcd4-4384-a907-72890742491e",
              "name": "chat_id",
              "value": "={{ $json.data[1].chat_id }}",
              "type": "number"
            },
            {
              "id": "8d92e51e-9798-4946-8ca5-c9ec9d186de3",
              "name": "username",
              "value": "={{ $json.data[2].usernames.active_usernames[0] }}",
              "type": "string"
            },
            {
              "id": "e953c3fe-0bb8-485d-a3ab-b42a6c799f5e",
              "name": "User_Name",
              "value": "={{ $json.data[2].name }}",
              "type": "string"
            },
            {
              "id": "931ed774-2ece-44fd-9ee1-8109b244e5f8",
              "name": "telegram_date",
              "value": "={{ new Date($json.data[1].telegram_date).toLocaleString('ru-RU') }}",
              "type": "string"
            },
            {
              "id": "f810b37f-fa37-4256-bfc7-d06e4e783cbe",
              "name": "text",
              "value": "={{ $json.data[1].text }}",
              "type": "string"
            },
            {
              "id": "5a9ae23b-8710-427b-a13d-1ba3def9f5cd",
              "name": "messageLink",
              "value": "={{ $json.data[3].link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -16
      ],
      "id": "d63819bd-4d93-4a93-bc51-3211ef3acc29",
      "name": "Get exact message data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM telegram_messages\nWHERE llm_processed is TRUE AND llm_is_relevant is TRUE AND tg_sent IS FALSE\nLIMIT 10",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1456,
        464
      ],
      "id": "2422e996-d6d5-4bd2-bbd7-3bdbcfb8fbf8",
      "name": "Сбор проанализированных сообщений для отправки",
      "credentials": {
        "postgres": {
          "id": "4z4s5W8zN4Xuxx6b",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getMessageLink",
        "chat_id": "={{ $json.messages[0].chat_id }}",
        "message_id": "={{ $json.messages[0].id }}"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        -96,
        304
      ],
      "id": "2fa2ea71-3ca3-4d8f-b7d9-a70b8660317a",
      "name": "Get direct link to a specific message in a group or supergroup",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chat_id": "={{ $json.chat_id }}",
        "from_message_id": "={{ $json.message_id + 1 }}",
        "limit": "1"
      },
      "type": "@telepilotco/n8n-nodes-telepilot.telePilot",
      "typeVersion": 1,
      "position": [
        -544,
        304
      ],
      "id": "c6b42036-ca07-499d-95fb-92b594dc2a00",
      "name": "Get chat history",
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 2 + 1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -96,
        -160
      ],
      "id": "b51db0b7-596b-49de-94dc-ab0bd7bcfabd",
      "name": "Wait",
      "webhookId": "f904af42-ddae-4e85-b6f2-e03f1e01ecb1"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 2 + 1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -768,
        304
      ],
      "id": "8835af0b-09e3-482d-9d03-400c21c8c27b",
      "name": "Wait2",
      "webhookId": "f904af42-ddae-4e85-b6f2-e03f1e01ecb1"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 2 + 1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        304
      ],
      "id": "55a797e4-a73b-44a0-86c7-4bf649e85a31",
      "name": "Wait3",
      "webhookId": "f904af42-ddae-4e85-b6f2-e03f1e01ecb1"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 2 + 1) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        -16
      ],
      "id": "c8dca05b-6734-460f-b35c-31b7a85592df",
      "name": "Wait4",
      "webhookId": "f904af42-ddae-4e85-b6f2-e03f1e01ecb1"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "Wait for Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Цикл отправки сообщений": {
      "main": [
        [
          {
            "node": "Execute me to test Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "message_metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait for Execution",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Успешное завершение итерации цикла": {
      "main": [
        [
          {
            "node": "Цикл отправки сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat": {
      "main": [
        [
          {
            "node": "Get chat username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user": {
      "main": [
        [
          {
            "node": "Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send text message": {
      "main": [
        [
          {
            "node": "Wait for Execution Input 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Execution": {
      "main": [
        [
          {
            "node": "Подготовка SQL-запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Обновление БД": {
      "main": [
        [
          {
            "node": "Успешное завершение итерации цикла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Подготовка SQL-запроса": {
      "main": [
        [
          {
            "node": "Обновление БД",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "message_metadata": {
      "main": [
        [
          {
            "node": "user_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get chat",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge data",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If user_id exists": {
      "main": [
        [
          {
            "node": "Get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user_id": {
      "main": [
        [
          {
            "node": "If user_id exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Username": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RelevantMessages": {
      "main": [
        [
          {
            "node": "Wait for Execution Input 1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Execution Input 1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat username": {
      "main": [
        [
          {
            "node": "Chat Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Сбор проанализированных сообщений для отправки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge data": {
      "main": [
        [
          {
            "node": "Aggregate data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate data": {
      "main": [
        [
          {
            "node": "Get exact message data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get exact message data": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сбор проанализированных сообщений для отправки": {
      "main": [
        [
          {
            "node": "Цикл отправки сообщений",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get direct link to a specific message in a group or supergroup": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Merge data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get chat history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat history": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get direct link to a specific message in a group or supergroup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Send text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "RelevantMessages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "11a69e87-dfd7-4e0f-80ca-fa61661802fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85c4b7fce07d641848755f7319c155322c67f73dc44bfdfe3c4148640754780c"
  },
  "id": "t8KqErRsgVLAtHnl",
  "tags": []
}