src/workflows/Session Control.json
{
  "name": "Session Control",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "6d1dfa28-1680-4ada-9b57-815b7f7a98fb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -2096,
        128
      ],
      "webhookId": "e03aaa29-25f0-41a6-ac38-4530aeea2855",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "# Supported Commands\nFollowing commands can be used in Chat:\n\n`/start` - start login via Phone Number and code (MFA is also supported if set)\n`/stop` - terminates current ClientSession for this Credential\n`/clear` - deletes local tdlib database, new login is required\n`/cred` - shows which Telegram Credential is used in this ChatTrigger (name + apiId, apiHash, phoneNumber)\n`/stat` - print all open Telegram sessions",
        "height": 408,
        "width": 724
      },
      "id": "3ab1ebb4-d047-4d93-ad84-447fadb28548",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2160,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "d88bc99f-ffa6-4212-9590-4dfa5f17731f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2096,
        -288
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "resource": "login"
      },
      "id": "c30ecb0c-4ace-4fcc-9139-0dc900e11991",
      "name": "Stop auth",
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "position": [
        -976,
        -144
      ],
      "typeVersion": 1,
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "login"
      },
      "id": "67b1df13-b6bb-4ef4-8b05-866a0e1f158e",
      "name": "Start auth",
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "position": [
        -976,
        80
      ],
      "typeVersion": 1,
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Automatic Reconnect",
        "height": 1348,
        "width": 1024
      },
      "id": "a2ad348c-b1b9-41da-8367-78bd41b3bb97",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        -208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "login"
      },
      "id": "58231b99-85bf-4914-b06e-ef898e2f51c9",
      "name": "Manual control",
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "position": [
        -1872,
        128
      ],
      "typeVersion": 1,
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "login"
      },
      "id": "11a27c1a-b4ec-4874-9a5c-8e079d919dd4",
      "name": "Automatic control",
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "position": [
        -1648,
        -288
      ],
      "typeVersion": 1,
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72c4f4ca-ff60-45ac-9c26-d8e6661f541a",
              "name": "sessionId",
              "type": "string",
              "value": "=0bf4d4e5b3eb446ba88df0173256e475"
            },
            {
              "id": "23010324-6358-4aec-a8eb-fa7a174123f1",
              "name": "action",
              "type": "string",
              "value": "sendMessage"
            },
            {
              "id": "a35ef9f8-1dfc-4e34-a347-de6542358aad",
              "name": "chatInput",
              "type": "string",
              "value": "/stat"
            }
          ]
        },
        "options": {}
      },
      "id": "cdc1049f-3bfd-41ca-ab10-c9edcfad21e2",
      "name": "Get Session Status",
      "type": "n8n-nodes-base.set",
      "position": [
        -1872,
        -288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72c4f4ca-ff60-45ac-9c26-d8e6661f541a",
              "name": "sessionId",
              "type": "string",
              "value": "0bf4d4e5b3eb446ba88df0173256e475"
            },
            {
              "id": "23010324-6358-4aec-a8eb-fa7a174123f1",
              "name": "action",
              "type": "string",
              "value": "sendMessage"
            },
            {
              "id": "a35ef9f8-1dfc-4e34-a347-de6542358aad",
              "name": "chatInput",
              "type": "string",
              "value": "/stop"
            }
          ]
        },
        "options": {}
      },
      "id": "ae7562e8-4564-4e7f-bb1b-1dcbb1094358",
      "name": "Stop Session",
      "type": "n8n-nodes-base.set",
      "position": [
        -1184,
        -144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72c4f4ca-ff60-45ac-9c26-d8e6661f541a",
              "name": "sessionId",
              "type": "string",
              "value": "=0bf4d4e5b3eb446ba88df0173256e475"
            },
            {
              "id": "23010324-6358-4aec-a8eb-fa7a174123f1",
              "name": "action",
              "type": "string",
              "value": "sendMessage"
            },
            {
              "id": "a35ef9f8-1dfc-4e34-a347-de6542358aad",
              "name": "chatInput",
              "type": "string",
              "value": "/start"
            }
          ]
        },
        "options": {}
      },
      "id": "4cfad3a8-4462-40a8-8bae-0791e533ee04",
      "name": "Start Session",
      "type": "n8n-nodes-base.set",
      "position": [
        -1184,
        80
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "08f33e60-eafc-4270-94ab-5f26549ea4d3",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json[0].authState }}",
              "rightValue": "authorizationStateReady"
            }
          ]
        },
        "options": {}
      },
      "id": "ad9eeb5a-5ba8-49f5-abc5-59b6c4957d70",
      "name": "Pass on Closed Status",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1424,
        -288
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "08f33e60-eafc-4270-94ab-5f26549ea4d3",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json[0].authState }}",
              "rightValue": "authorizationStateReady"
            }
          ]
        },
        "options": {}
      },
      "id": "eafd22aa-7830-4eca-bf79-8a1e56f49520",
      "name": "Check Session Connection",
      "type": "n8n-nodes-base.filter",
      "position": [
        -976,
        960
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Automatic Session Check Every 6 Hours",
        "height": 224,
        "width": 880
      },
      "id": "a8567054-6a20-475f-bdeb-b3e969772e3f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2160,
        -352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Инструкция по входу и работе воркфлоу\n1. Вводим API_ID & API_HASH в credentials ноды `Manual Control` (кликаем два раза на ноду)\n2. Нажимаем кнопку `Open Chat` на триггере `When chat message received`\n2. Вводим `/start` в чат\n3. Вводим код аутентификации\n4. Вводим облачный пароль\nДля обновления сессии используется автоматическая проверка и реконнект.\n\nДля перезапуска сессии необходимо:\n1. Написать в чат `/stop`\n2. Написать в чат `/start`\n\nДля завершения сессии и полного выхода из неё необходимо:\n1. Написать в чат `/stop`\n2. Написать в чат `/clear`\nЕсли столкнулись с проблемами при входе, повторяем /stop & /clear, ждём минуту и входим снова.\n\nДля корректной работы воркфлоу необходимо настроить:\n- Credentials для Telepilot (api_id & api_hash с сайта после создания нового приложения https://my.telegram.org/auth)\n- Chat_id чата (админского чата) в нодах `Send Status Closed` и `Send Auth Code`, в который будет отправляться сообщение о статусе сессии. Настраивается в Листе Google Sheets Speech, в столбце `куда отправляем релевантные сообщения`.\nЕсли это группа с несколькими тредами - указать айди треда, в который необходимо отправить сообющение.\n\nПосле настройки воркфлоу при закрытии сессии будет приходить сообщение о её закрытии, сессия будет снова запускаться и при успехе будет отправлено соответствующее сообщение.\n\nБыстрые способы получения ID чата:\n- Telepilot нода `Search public chat by username/title` для каналов и групп.\n- Telepilot нода-триггер `On new message`: добавляете в воркфлоу, запускаете, отправляете сообщение с со своего аккаунта/получаете сообщение с необходимого аккаунта.\nАльтернативный способ - использовать воркфлоу `chat_id_parser`",
        "height": 736,
        "width": 720,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2160,
        336
      ],
      "id": "348da58b-7c5b-4ad2-8730-fb5c51b69924",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -752,
        960
      ],
      "id": "2f54825d-83b9-4a94-b771-8c1768e3d63a",
      "name": "Execute me to test Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72c4f4ca-ff60-45ac-9c26-d8e6661f541a",
              "name": "sessionId",
              "type": "string",
              "value": "="
            },
            {
              "id": "23010324-6358-4aec-a8eb-fa7a174123f1",
              "name": "action",
              "type": "string",
              "value": "sendMessage"
            },
            {
              "id": "a35ef9f8-1dfc-4e34-a347-de6542358aad",
              "name": "chatInput",
              "type": "string",
              "value": "mypassword"
            }
          ]
        },
        "options": {}
      },
      "id": "01aa4c77-179f-41da-84ff-3567c7f306ff",
      "name": "MFA Password",
      "type": "n8n-nodes-base.set",
      "position": [
        -976,
        736
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "login"
      },
      "id": "4a4565d4-9a9b-45db-ad94-5669a27ffe11",
      "name": "Start auth1",
      "type": "@sharkywasd/n8n-nodes-telepilot.telePilot",
      "position": [
        -1168,
        960
      ],
      "typeVersion": 1,
      "credentials": {
        "telePilotApi": {
          "id": "27P0ROJOnVZRJVms",
          "name": "Personal Telegram CoPilot account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "08f33e60-eafc-4270-94ab-5f26549ea4d3",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ String($json) }}",
              "rightValue": "Please provide AuthCode:"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a3abf49-c138-4d15-a7b5-c6af5b5a7827",
      "name": "Check Session Connection1",
      "type": "n8n-nodes-base.filter",
      "position": [
        -1168,
        304
      ],
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840716485,
          "mode": "list",
          "cachedResultName": "Search Speech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1840716485"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:K3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -976,
        304
      ],
      "id": "1d52933a-b79a-48c4-8bf8-c8c6ed034756",
      "name": "Get chat_id",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.send_to }}",
        "text": "Введите код ДФ аутентификации для входа в аккаунт",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -960,
        528
      ],
      "id": "33a5da82-8c08-4ba3-86b0-3b485f8ac918",
      "name": "Send Auth Code",
      "webhookId": "e1945a08-41b3-44c7-a6ad-c0a9dcc3f0e0",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "ZEr6JlBlLJEvRbyV",
          "name": "Telegram account"
        }
      },
      "disabled": true,
      "notes": "Используется для уведомления о разрыве сессии при ошибке сохранения сообщения."
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1168,
        736
      ],
      "id": "88bbd446-e334-44b5-b872-ce7b6b161b7d",
      "name": "Wait",
      "webhookId": "e353e160-a70c-4e5a-ad34-ec8d4311b671",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca8a4a25-7048-4fc2-80f5-dfc32192b916",
              "name": "=send_to",
              "value": "={{ $input.first().json.values()[11] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        528
      ],
      "id": "2d32de15-a50d-46a1-b7a1-21fa4a437d03",
      "name": "Notification for chat_id",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "08f33e60-eafc-4270-94ab-5f26549ea4d3",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json[0].authState }}",
              "rightValue": "authorizationStateReady"
            }
          ]
        },
        "options": {}
      },
      "id": "11f38a64-52e4-4d39-9dfb-896af9c19f0e",
      "name": "Check Session Connection2",
      "type": "n8n-nodes-base.filter",
      "position": [
        -752,
        80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA",
          "mode": "list",
          "cachedResultName": "Palatine-selfbot-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1840716485,
          "mode": "list",
          "cachedResultName": "Search Speech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11XzA9W1vUInu0Qh0Vrp5FspCfq2mZ8Aas2O6wR7mcvA/edit#gid=1840716485"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A1:K3"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1184,
        -416
      ],
      "id": "745bf6b7-3dab-4519-acd4-a243d9f2d3b8",
      "name": "Get chat_id1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c2HhsYLQ928pUJFE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca8a4a25-7048-4fc2-80f5-dfc32192b916",
              "name": "=send_to",
              "value": "={{ $input.first().json.values()[11] }}",
              "type": "number"
            },
            {
              "id": "b65ef466-4e62-44bb-a52f-1596e130a4d8",
              "name": "text",
              "value": "Account is logged out",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        -416
      ],
      "id": "9a8992d5-e638-432b-be99-583a937ca0a3",
      "name": "Notification for chat_id1",
      "executeOnce": true
    },
    {
      "parameters": {
        "text": "=❌ {{ $('Automatic control').item.json[0].phoneNumber }} UserBot Error:\n{{ $json.toJsonString() }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "954e6f54-8252-4971-bc15-46415c9731a4",
      "name": "BOT Send Closed Status message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -1248,
        -656
      ],
      "webhookId": "231c216e-646c-45e3-a3ca-145d48ca7e8d",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "ZEr6JlBlLJEvRbyV",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.send_to }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -768,
        -416
      ],
      "id": "8bab3043-1d03-44ab-8cb6-e799f6f8648a",
      "name": "Send Status Closed",
      "webhookId": "e1945a08-41b3-44c7-a6ad-c0a9dcc3f0e0",
      "notesInFlow": true,
      "credentials": {
        "telegramApi": {
          "id": "ZEr6JlBlLJEvRbyV",
          "name": "Telegram account"
        }
      },
      "notes": "Используется для уведомления о разрыве сессии при ошибке сохранения сообщения."
    }
  ],
  "pinData": {},
  "connections": {
    "Stop auth": {
      "main": [
        [
          {
            "node": "Start Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start auth": {
      "main": [
        [
          {
            "node": "Check Session Connection2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop Session": {
      "main": [
        [
          {
            "node": "Stop auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Session": {
      "main": [
        [
          {
            "node": "Start auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Session Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automatic control": {
      "main": [
        [
          {
            "node": "Pass on Closed Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Session Status": {
      "main": [
        [
          {
            "node": "Automatic control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass on Closed Status": {
      "main": [
        [
          {
            "node": "Stop Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get chat_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Connection": {
      "main": [
        [
          {
            "node": "Execute me to test Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Manual control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual control": {
      "main": [
        []
      ]
    },
    "Check Session Connection1": {
      "main": [
        [
          {
            "node": "Get chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get chat_id": {
      "main": [
        [
          {
            "node": "Notification for chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MFA Password": {
      "main": [
        [
          {
            "node": "Start auth1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Auth Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start auth1": {
      "main": [
        [
          {
            "node": "Check Session Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "MFA Password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification for chat_id": {
      "main": [
        [
          {
            "node": "Send Auth Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Connection2": {
      "main": [
        []
      ]
    },
    "Get chat_id1": {
      "main": [
        [
          {
            "node": "Notification for chat_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification for chat_id1": {
      "main": [
        [
          {
            "node": "Send Status Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "96da610b-d69f-4d2f-a43a-162f76588c39",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85c4b7fce07d641848755f7319c155322c67f73dc44bfdfe3c4148640754780c"
  },
  "id": "PKw7RHQSOqcErwZb",
  "tags": []
}